@CHARSET "UTF-8";
@import url("Post.css");

/*  Globals for admin  */

h3{
	float:right;
}
a{
	style:normal;
}

/* Tables with edited posts */

#savedPost table{
	width:90%;
	border:1px solid green;
}


/* Elements of admin panel */

.postEditForm{
	position:relative;
	top:2%;
	left:2%;
	width:25%;
	height:90%;
	border : 1px solid;
	float:left;
} 	

/* form with post to edit */
#post{ 
	height:150%;
	float:left;
}


#adminPostsEditList{
	position:relative;
	float:right;
	right:5%;
	width:70%;
	height:75%;
	border : 1px solid;
	
}

#logTable{
	margin-left:25%;
	border:1px solid cyan;
	width:70%;
	
	
}
