@CHARSET "UTF-8";/* POSTS show */


/* MAIN TABLE WITH POST DIVS */


.displayPosts{
width:80%;
height:80%;
left:10%;
font-size:14px;
position:relative;

}
.singlePostDiv{
position:relative;
display:table;
/* so the notepad posts won`t be displayed skinny as hell */
width:22%;
min-width:125px;
max-width:22%!important;

height:200px;
margin:1%;
float:left;
border:1px solid orange;
	
}



#showPosts{
	position:relative;
	/* margin:1% auto 1% 3%;
	width:94%;
	height:100%;
	 */
	 float:left;
	 

}
	/* useful when displayin list of posts as in index or posts/show */
.PostsTable{
font-size:14px;
margin:2% 2% 2% 2%;
margin-right:auto;
margin-left:auto;
border:1px solid yellow;
}

.PostsTable td{
padding:2% 2% 2% 2%;	
border:1px solid blue;
width:25%;
}

	/* for single Post displayed */
.PostTable{
font-size:14px;
margin:2% 2% 2% 2%;
border:1px solid red;

margin-right:auto;
margin-left:auto;

}
.PostTable td{
	
padding:2% 2% 2% 2%;	
border:1px solid orange;	
}
.PostId{
	
}
.PostTitle{
	
}
.PostContent{
	
}
.PostAddDate{
	
}

/* DIFFERENT FORM SIZE */

#addPostForm {
	width:100%;
}


#addPostForm textarea{
	width:90%;
}









