@CHARSET "UTF-8";

.commentsDiv{
}

.commentsDiv div{
	float:left;
	position:relative;
	margin-left:5%;
	display:inline;
	word-wrap: break-word 
}
.commentContent{
	max-width:30%;
	float:right;
}

.publicCommentLinkDiv{
margin-right:5%;
}
.addCommentForm{
margin-left:40%;
}
.commentsWellWidth{
	width:80%;
}

