@CHARSET "UTF-8";

#header{
	position: relative ; 
	height:7%;
	padding:1%;
	border-radius:25px;
	border:1px solid #DDDDDD;

}

#langSelector{
	position:relative;
	float:right;
	margin-right:1%;
	
	}



