@CHARSET "UTF-8";
/*bootstrap first so we can overwrite it */
@import url("bootstrap-responsive.css");
@import url("bootstrap.css");

/*rest*/
@import url("header.css");

@import url("Post.css");
@import url("adminPanel.css");
@import url("register.css");
@import url("menu.css");

@import url("footer.css");
@import url("comments.css");

/* metroUI 
@import url("modern.css");
*/

html,body{
	margin:1%;
}
#main{
	position:relative;
	top:15%;
	padding:1% 1% 1% 1% ;
	margin:auto 1% 1% 1% ;
	overflow:auto;
}

#menu{
	position:relative;
	top:12%;
	width:20%;
	height:80%;
	float:left;
	padding:1% 1% 1% 1% ;
	border-radius:25px;
	border:1px solid #DDDDDD;
}

#mainPagePosts{
	position:relative;
	float:right;
	right:2%;
	width:70%;
	height:75%;
	border-radius:25px;
	border:1px solid #DDDDDD;
}
.mainContent{
position:relative;
float:right;
width:70%;
border-radius:25px;
border:1px solid #DDDDDD;
padding:1%;
}

#savedPost{
	padding:1%;
	position:relative;
	float:right;
	right:5%;
	width:30%;
	height:75%;
border-radius:25px;
border:1px solid #DDDDDD;
	
}




/* GLOBALLY USED CLASSES AND OTHER  */

.error{
	color:#CC0000;
	font-weight:bold;
}
.allOK{
	color:green;
	font-weight:bold;
}
.logoutLink{
	float:right;
	margin-right:3%;
}

#greetingUser{
	display:inline;
}

.border{
border-radius:25px;
border:1px solid #DDDDDD;
padding:1%;
}
