@CHARSET "UTF-8";/* POSTS show */


/* MAIN TABLE WITH POST DIVS */


#showPosts{
	position:relative;
	width:98%;
	margin:1%;
}

.displayPosts{

}
.singlePostDiv{
position:relative;
border-radius:25px;
border:1px solid #DDDDDD;
margin-top:1%;
}

.singlePostDiv table{

float:none;
}

	/* for single Post displayed */
.PostTable{
font-size:14px;
margin:1%;
margin-right:auto;
margin-left:auto;
}

.postsLinks a{
	float:right;
	margin-right:5%;
}



.PostTable .postContent{
	margin:2% 2% 2% 2%;
	
}


/* ADDING POST */

#addPostForm {
	max-width:50%;
	float:left;
}

.postEditForm{
	float:left;

}

#savedPost {
	float:right;
}

#addPostForm textarea{
	width:90%;
}









